<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtk9oc18LlA-IUE1cEmdd3UsfA_afqpYg</string>
	<key>GCM_SENDER_ID</key>
	<string>949449422845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sametyasit.FotografPaylamaUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>fotografpaylasmauygulama-f02c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fotografpaylasmauygulama-f02c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949449422845:ios:1f0acee5e9eece526a0b94</string>
</dict>
</plist>